<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <nav>
        <div>
          <%=link_to "Favorites", favorites_path %>
          <%=link_to "Gifs", gifs_path %>
        </div>
        <div>
          <%=link_to "Log Out", logout_path, method: :delete %>
        </div>
      </nav>
    <% end %>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "alert alert#{type}" %>
      <% flash.discard(type) %>
    <% end %>
    <%= yield %>
  </body>
</html>
